* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  display: flex;
}

.h_tags {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  background-color:lightblue;

}

.box_container{
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  align-items: center;
  align-content:center
}

.box {
  flex: 0 1 25%;
  height: 220px;
  margin: 10px;
  border-radius: 15px;
  background-color:
 yellow;
 transition: background 0.3s;
}
.activated {
  box-shadow: 0 0 5px 5px #fff, 0 0  5px 5px #f0f;
}